<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação Formadora</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="card">
      <div id="foto">
        <img src="https://avatars.githubusercontent.com/u/66232093?v=4" alt="">
      </div>
      <span>Gustavo Graciano</span>
      <span>22202997</span>

    </div>
  </div>
</ion-content>
